# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Java: Oracle code conventions (4-space indent), 100-column limit.
[*.java]
max_line_length = 100
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

[*.{json,yml,yaml}]
indent_size = 2

[*.{bat,cmd}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
